{{#*inline "main"}}
    <h2 class="text-xl font-bold pb-2">Success</h2>

    <p><a class="text-blue-600 hover:underline" href="/{{link.short}}">{{go}}/{{link.short}}</a> has been saved.</p>
{{/inline}}
{{> (lookup this "parent")}}
