name: release
on:
  push:
    tags:
      - 'v[0-9].[0-9]+.[0-9]+'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
permissions: write-all
env:
  CONTAINER_REGISTRY: 'ghcr.io'
  RUST_VERSION: '1.90.0'
jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: dump context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{ env.RUST_VERSION }}
      - run: |
          cargo install cargo-edit
          cargo install toml-cli
      - id: pkg-version
        run: |
          ref_string="${{ github.ref }}"
          version="${ref_string#refs/tags/v}"
          cargo set-version "$version"
          cargo update gohome
          echo "package-version=$version" >> "$GITHUB_OUTPUT"
      - uses: peter-evans/create-pull-request@v7
        id: create-pull-request
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          add-paths: |
            Cargo.toml
            Cargo.lock
          base: 'main'
          commit-message: 'feat: bump cargo version to: ${{ steps.pkg-version.outputs.package-version }}'
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          title: 'feat: bump cargo version to: ${{ steps.pkg-version.outputs.package-version }}'
          body: |
            - bump cargo version to ${{ steps.pkg-version.outputs.package-version }}
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: |
            release
      - run: gh pr merge --merge --auto "${{ steps.create-pull-request.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  goreleaser:
    needs: ["bump-version"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.workflow_ref }}
          fetch-depth: 0
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{ env.RUST_VERSION }}
      - uses: goto-bus-stop/setup-zig@v2
      - uses: sigstore/cosign-installer@v3.8.0
      - uses: anchore/sbom-action/download-syft@v0.18.0
      - run: |
          echo ${{ secrets.COSIGN_KEY }} >> cosign.key
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COSIGN_PWD: ${{ secrets.COSIGN_PWD }}
      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: './dist/${{ github.event.repository.name }}_checksums.txt'
          push-to-registry: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
  